{% extends 'main_app/base.html' %}
{% load bootstrap5 %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/features.css' %}">
    <style>
        #map {height:500px;width: 100%;}
    </style>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="{% static '/js/maps.js' %}" ></script>
    <script type ='text/javascript'>setup({{ order.start_location_lon }}, {{ order.start_location_lat }}, {{ order.destination_lon }}, {{ order.destination_lat }})</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap"></script>
{% endblock %}

{% block content %}
<section class="container">
    <h1 class="text-center m-4 fw-light">Order Details</h1>
    <p class="text-center"> <strong>Start Location:</strong> {{ order.start_location_lat }}, {{ order.start_location_lon }}</p>
    <p class="text-center"> <strong>Destination:</strong> {{ order.destination_lat }}, {{ order.destination_lon }}</p>
    <p class="text-center"> <strong>Price:</strong> {{ order.price }}</p>
    <p class="text-center"> <strong>Passenger Name:</strong> {{ order.passenger.user.username }}</p>
    <p class="text-center"> <strong>Start Location:</strong> {{ order.start_location }}</p>    
</section>
<section class="container">
    <h1 class="text-center m-4 fw-light">Map</h1>
    <div class="pageholder">
        <div class="row">
            <!-- Map -->
            <div id="map" class="col-12"></div>
            <div class="col-12 mt-2 request-page">
                <h2>Map Will Go Above Here </h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}